 <main>
        <h1>My Products</h1>
        <p>List of all the products...</p>
        <ul>
            {{#each prods}}
                <li>
                    {{this.title}}
                </li>
            {{else}}
                <h1>No Products Found</h1>
            {{/each}}
        </ul>
    </main>